.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  }
  .welcome-section > p {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: white;
  }
  .welcome-section > h1 {
      color: royalblue;
  }
  .projects-section
  {
    background-color: #000;
    background-image: linear-gradient(62deg, #5990c7 0%, #181719 100%);
    
  }
  .contact-section
  {
    background-color: rgb(21, 104, 104);
    background-image: linear-gradient(62deg, #5990c7 0%, #181719 100%);
  }
  .footerm {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    
    background-color:skyblue;
    color: white;
    text-align: center;
 }